/* Layout and Colors */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #10222D;
    color: #333;
    line-height: 1.6;
}

h2, p {
    color: #ccc;
}

/* Chat Section Styles */
main {
    margin-top: 20px;
}

.chat-section {
    margin: 10px 0 0 120px;
    width: 80%;
    background: #2C3E50;
    color: #ECF0F1;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Message Input Area Styles */
.message-form {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.image-upload-label {
    color: #ccc;
    cursor: pointer;
    font-size: larger;
    display: inline-block;
    padding: 5px 10px;
    margin-left: 40px;
    font-size: 30px;
    font-weight: bolder;
}

.image-upload-label:hover {
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #cccccc8f;
    color: #0070a7;
    transition: all 0.3s ease-in-out;
}

.message-input {
    width: 75%;
    margin-left: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    color: #333;
}

button.send-button {
    width: 14%;
    padding: 10px;
    background-color: #10222D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
    margin-right: 40px;
    margin-left: 20px;
}

button.send-button:hover {
    background-color: #0070a7;
    transform: translateY(-5px);
}

/* Messages Display Styles */
.message-display {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    width: auto;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #3D5467;
    color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.message-text, .message-file {
    width: 100%;
}

.message-file a {
    text-decoration: none;
    color: #FFC107;
}

.message-file a:hover {
    color: #ccc;
}

.message.sent {
    background-color: #0070a7;
    align-self: flex-end;
}

.message.received {
    background-color: #ccc;
    color: #333;
    align-self: flex-start;
}

.message-date {
    align-self: flex-end; 
    text-align: right; 
    color: #ccc;
    font-size: 0.8rem;
    margin-top: 5px;
    font-weight: bold;
}

.message.received .message-date {
    color: #333;
}

.back {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
}

.file-preview {
    background-color: #ccccccc2;
    border: 2px solid #fff;
    padding: 20px;
    width: 10%;
}