body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.profile-picture:hover {
    filter: brightness(150%);
}

.profile-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio-container {
    margin-top: 20px;
    width: 25%;
    background-color: #ccc;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    transition: transform 0.3s ease;
}

.bio-container:hover {
    transform: scale(1.05);
}

h3 {
    color: #333;
    font-weight: bold;
    margin-top: -10px;
}

.bio-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bio-content i, .bio-content p {
    color: #333;
}

.settings-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.settings-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

footer {
    margin-top: 182px;
} 

.form-container {
    background-color: #2C3E50;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    margin-top: 20px; 
    text-align: center;
    color: #E4E6EB;
}
.input[type="email"], .input[type="password"], .input[type="text"] {
    width: calc(80% - 24px);
    padding: 15px 12px;
    border: 2px solid #34495e; 
    background-color: #34495e;
    border-radius: 5px;
    color: #ECF0F1;
    margin-top: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s, background-color 0.3s;
    font-weight: bold;
}

.input[type="email"]:focus, .input[type="password"]:focus, .input[type="text"]:focus {
    border-color: #ffffff;
    background-color: #2C3E50; 
    outline: none;
}

.button {
    width: 50%;
    padding: 20px;
    background-color: #10222D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bolder;
    margin-top: 10px;
}

.addbutton {
    width: 100%;
    padding: 10px;
    background-color: #10222D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bolder;
    margin-top: 10px; 
}

.button:hover {
    background-color: #0070a7;
    transform: translateY(-5px);
    border-radius: 10px;
}

.addbutton:hover {
    background-color: #0070a7;
    transform: translateY(-5px);
    border-radius: 10px;
}
